@import "../../../styles/theme.import.scss";

#main{

    width: inherit;
    padding: 2rem;
}

#logo{
    width: 48rem;
}
p {
    max-width: 800px;
    font-size: 18px;
    color: rgb(82, 82, 82);
}
