<div
    *ngIf="collection$ | async as collection"
    id="main"
    fxLayout="column"
    fxLayoutAlign="start center"
>
    <div class="col-header" fxLayout="row" fxLayoutAlign="start start">
        <div id="logo">
            <symbiota2-collection-logo
                class="collectionLogo"
                [collectionID]="collection.id"
                src="{{ collection.icon }}"
                size="150px"
                *ngIf="collection.icon"
            >
            </symbiota2-collection-logo>
        </div>

        <div class="name_inst" fxLayout="column" fxLayoutAlign="space-between">
            <div fxLayout="row">
                <h1 id="collectionName">
                    {{ collection.collectionName }}
                </h1>
                <button
                    mat-stroked-button
                    *ngIf="isColAdmin"
                    id="editButton"
                    (click)="openCollectionTools()"
                >
                    <mat-icon>build</mat-icon> Admin Tools
                </button>
            </div>
            <div id="subTitle" fxLayoutAlign="start end">
                <mat-icon>account_balance</mat-icon>
                <div class="italic" *ngIf="collection.institution?.name">
                    <span>{{ collection.institution.name }} </span>
                </div>
                <div
                    class="italic"
                    *ngIf="
                        collection.institution?.code &&
                        collection.collectionCode
                    "
                >
                    ({{ collection.institution.code }}-{{
                        collection.collectionCode
                    }})
                </div>
            </div>
        </div>
    </div>
    <div id="body" fxLayout="column" fxLayoutGap="1rem">
        <div id="links" fxLayoutAlign="space-between">
            <ng-container *ngFor="let link of links$ | async">
                <a
                    mat-stroked-button
                    id="collectionLink"
                    [ngClass]="{
                        primaryLink: link.text == 'Back to collections'
                    }"
                    [routerLink]="link.routerLink"
                    [queryParams]="link.queryParams"
                    >{{ link.text }}</a
                >
            </ng-container>
        </div>
        <mat-card class="symbiota2-info-mat-card" id="collectionDescription">
            <mat-card-title> Overview </mat-card-title>
            <mat-card-content>
                {{ collection.fullDescription }}
            </mat-card-content>
        </mat-card>
        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="1rem">
            <mat-card
                id="collectionInfo"
                class="symbiota2-info-mat-card"
                fxFlex="60"
            >
                <mat-card-title fxLayoutAlign="start end">
                    <mat-icon>info</mat-icon> Collection Info
                </mat-card-title>
                <mat-card-content>
                    <!-- TODO: i18n -->
                    <symbiota2-collection-field
                        label="Contact"
                        [value]="collection.contact"
                    ></symbiota2-collection-field>
                    <symbiota2-collection-field
                        label="Contact email"
                        [value]="collection.email"
                    ></symbiota2-collection-field>
                    <symbiota2-collection-field
                        label="Home page"
                        [href]="collection.homePage"
                        [value]="collection.homePage"
                    ></symbiota2-collection-field>
                    <symbiota2-collection-field
                        label="Collection type"
                        [value]="collection.type"
                    ></symbiota2-collection-field>
                    <symbiota2-collection-field
                        label="Management"
                        [value]="collection.managementType"
                    ></symbiota2-collection-field>
                    <symbiota2-collection-field
                        label="Usage rights"
                        [value]="collection.usageTerm"
                    ></symbiota2-collection-field>
                    <symbiota2-collection-field
                        label="Last update"
                        [value]="
                            collection.collectionStats?.lastModifiedTimestamp
                                | date: 'medium'
                        "
                    ></symbiota2-collection-field>
                </mat-card-content>
            </mat-card>
            <mat-card
                class="symbiota2-primary-mat-card"
                id="collectionStats"
                fxFlex="40"
            >
                <mat-card-title fxLayoutAlign="start end">
                    <mat-icon>insights</mat-icon> Collection Stats
                </mat-card-title>
                <mat-card-content *ngIf="collection.collectionStats">
                    <ul>
                        <li>
                            {{
                                collection.collectionStats.recordCount | number
                            }}
                            occurrences
                        </li>
                        <li>
                            {{
                                collection.collectionStats.georeferencedCount
                                    | number
                            }}
                            ({{ geoReferencedPercent }}%) georeferenced
                        </li>
                        <li>
                            {{
                                collection.collectionStats.familyCount | number
                            }}
                            families
                        </li>
                        <li>
                            {{ collection.collectionStats.genusCount | number }}
                            genera
                        </li>
                        <li>
                            {{
                                collection.collectionStats.speciesCount | number
                            }}
                            species
                        </li>
                    </ul>
                    <small
                        >Last updated
                        {{
                            collection.collectionStats.lastModifiedTimestamp
                                | date: 'medium'
                        }}
                    </small>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
