@import "/apps/ui/src/styles/theme.import.scss";

#main{
    box-shadow: inset 0px 150px 0 0 $primaryColor;
    -webkit-box-shadow: inset 0px 150px 0 0 $primaryColor;
}

#body{
    width: 800px;
}

#logo{
    background-color: white;
    padding: 8px;
    border: white 10px;
    border-radius: 50%;
}

.name_inst{
    margin-left: 1rem;
    height: 128px;
}

.col-header{
    margin-top: 65px;
}

.italic {
    color: #7D7D7D;
    font-style: italic;

}


#collectionLogo {
    margin-right: 1rem;
}

#collectionName {
    max-width: 600px;
    color: white;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
    line-height: 110%;
}

#subTitle {
    mat-icon {
        color: #7D7D7D;
        padding-right: 0.5rem;
    }
}

#links {
    margin-top: 0.5rem;
    font-size: 75%;

    .pipe {
        font-weight: bold;
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        &:last-child {
            display: none;
        }
    }
}

.primaryLink{
    color:white !important;
    background-color: $primaryColor;
    border: none;
}

#collectionLink{
    color: $primaryColor;
    font-size: 12px;
    font-weight: 400;
    border-radius: .5rem;
    margin-right: 1rem;
}

#collectionLink:hover{
    text-decoration: none;
}

.collection-mat-card{
    padding-top: 12px;
    color: #6C6C6C;
    min-height: 150px;

    mat-card-title{
        color: $accentColor;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 1rem;

        mat-icon{
            padding-right: .5rem;
        }
    }

    mat-card-content{
        padding-left: 1rem;
        font-weight: 300;
    }
}


#mainContent {
    margin-left: 1rem;
    margin-right: 1rem;
}

#collectionStats {
    height: 200px;
    color: white;
    background-color: $primaryColor;
    
    mat-card-title{
        color: white;
    }
}

#collectionInfo {
    height: 200px;
}

#editButton {
    outline: white solid 1px;
    font-size: 12px;
    color: white;
    height: fit-content;
    vertical-align: middle;

    mat-icon{
        font-size:large;
    }
}
