@import "apps/ui/src/styles.scss";

a {
    &:active, &:focus {
        outline: none;
    }
}

.collection-logo {
    display: block;
    background: scale-color($primaryColor, $alpha: -80%);

    padding: 0.2rem;

    border-radius: 50%;
    object-fit: cover;
    box-shadow: -0.1rem 0.1rem 0.2rem 0.1rem rgba(0, 0, 0, 0.3);
}
