<form [formGroup]="newCollectionForm" fxLayout="row" fxLayoutAlign="start">
    <mat-sidenav-container class="container">
        <mat-sidenav
            #sidenav
            mode="side"
            opened
            class="sidenav"
            fixedInViewport="true"
            fixedTopGap="100"
            fixedBottomGap="100"
        >
            <ul class="navList">
                <li><a (click)="onClickScroll('collection')">Collection</a></li>
                <li><a (click)="onClickScroll('contact1')">Contact</a></li>
                <!-- <li>
                    <a (click)="onClickScroll('contact2')"
                        >Additional Contact</a
                    >
                </li> -->
                <li>
                    <a (click)="onClickScroll('submit')"
                        >Submit</a
                    >
                </li>
            </ul>
        </mat-sidenav>
        <mat-sidenav-content class="content">
            <mat-card
                id="collection"
                class="collectionCard"
                fxLayout="column"
                fxLayoutGap="1rem"
            >
                <mat-card-title class="title" fxLayoutAlign="start center">
                    <mat-icon color="primary" class="instIcon"
                        >collections_bookmark</mat-icon
                    >Collection Information</mat-card-title
                >
                <div
                    class="main"
                    fxFlex="50"
                    fxLayout="row"
                    fxLayout.lt-md="column"
                    fxLayoutAlign="start center"
                    fxLayoutGap="0rem"
                >
                    <div fxLayout="column" fxLayoutAlign="start center">
                        <symbiota2-collection-logo
                            size="7rem"
                            src="{{ newCollectionForm.value.icon }}"
                            id="logo"
                        >
                        </symbiota2-collection-logo>
                        <mat-form-field id="icon_url" style="font-size: 8px">
                            <mat-label>Icon URL</mat-label>
                            <input matInput formControlName="icon" />
                        </mat-form-field>
                    </div>
                    <div fxFlex>
                        <div
                            fxLayout="row"
                            fxLayout.lt-md="column"
                            fxLayoutGap="2rem"
                            fxLayoutGap.lt-md="1rem"
                        >
                            <mat-form-field id="name_form" fxFlex="80">
                                <mat-label>Collection Name *</mat-label>
                                <input
                                    matInput
                                    formControlName="collectionName"
                                />
                                <mat-error
                                    *ngIf="
                                        newCollectionForm
                                            .get('collectionName')
                                            .hasError('required')
                                    "
                                >
                                    Collection Name is <strong>required</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="
                                        newCollectionForm
                                            .get('collectionName')
                                            .hasError('nameTaken')
                                    "
                                >
                                    Name already in use
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field
                                id="code_form"
                                fxFlex="25"
                                matTooltip="The name, acronym, or code identifying the collection or data set from which the record was derived. This field is optional. For more details, see Darwin Core definition. "
                                matTooltipClass="primary"
                            >
                                <mat-label>Collection Code *</mat-label>
                                <input
                                    matInput
                                    formControlName="collectionCode"
                                    oninput="this.value = this.value.toUpperCase()"
                                />
                                <mat-error
                                    *ngIf="
                                        newCollectionForm
                                            .get('collectionCode')
                                            .hasError('required')
                                    "
                                >
                                    Collection Code is <strong>required</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="
                                        newCollectionForm
                                            .get('collectionCode')
                                            .hasError('codeTaken')
                                    "
                                >
                                    Code already in use
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div
                            fxLayout
                            fxLayout="row"
                            fxLayoutAlign="start center"
                            fxLayoutGap="0rem"
                        >
                            <mat-form-field
                                fxFlex="100"
                                appearance="outline"
                                matTooltip="The name (or acronym) in use by the institution having custody of the occurrence records. This field is required. For more details, see Darwin Core definition. "
                                matTooltipClass="primary"
                            >
                                <mat-label>Institution *</mat-label>
                                <mat-select formControlName="institutionID">
                                    <mat-option
                                        *ngFor="let i of inst$ | async"
                                        value="{{ i.id }}"
                                        >({{ i.code }}) {{ i.name }}</mat-option
                                    >
                                </mat-select>
                                <mat-error
                                    *ngIf="
                                        newCollectionForm
                                            .get('institutionID')
                                            .hasError('required')
                                    "
                                >
                                    please select an Institution
                                </mat-error>
                            </mat-form-field>
                            <button mat-icon-button (click)="onAddNewInst()">
                                <mat-icon color="primary" class="instIcon">
                                    add_circle_outline</mat-icon
                                >
                            </button>
                        </div>
                    </div>
                </div>
                <div
                    fxLayout="row"
                    fxLayout.lt-md="column"
                    fxLayoutGap="2rem"
                    fxLayoutAlign="space-between"
                    class="content"
                >
                    <div fxLayout="column" fxFlex="30">
                        <mat-form-field appearance="outline">
                            <mat-label>Category *</mat-label>
                            <mat-select formControlName="categoryID">
                                <mat-option
                                    *ngFor="let cat of categories$ | async"
                                    [value]="cat.id"
                                    >{{ cat.category }}</mat-option
                                >
                            </mat-select>
                            <mat-error
                                *ngIf="
                                    newCollectionForm
                                        .get('categoryID')
                                        .hasError('required')
                                "
                            >
                                please select a category
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            matTooltip="Preserve Specimens means that physical samples exist and can be inspected by researchers. Use Observations when the record is not based on a physical specimen. General Observations are used for setting up group projects where registered users can independently manage their own dataset directly within the single collection. General Observation collections are typically used by field researchers to manage their collection data and print labels prior to depositing the physical material within a collection. Even though personal collections are represented by a physical sample, they are classified as observations until the physical material is deposited within a publicly available collection with active curation. "
                            matTooltipClass="primary"
                        >
                            <mat-label>Collection Type *</mat-label>
                            <mat-select formControlName="type">
                                <!-- //TODO: api will handle populating collection types -->
                                <mat-option value="Preserved Specimens"
                                    >Preserved Specimens</mat-option
                                >
                                <mat-option value="General Observations"
                                    >General Observations</mat-option
                                >
                            </mat-select>
                            <mat-error
                                *ngIf="
                                    newCollectionForm
                                        .get('type')
                                        .hasError('required')
                                "
                            >
                                please select a Collection Type
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            appearance="outline"
                            matTooltip="Use Snapshot when there is a separate in-house database maintained in the collection and the dataset within the Symbiota portal is only a periodically updated snapshot of the central database. A Live dataset is when the data is managed directly within the portal and the central database is the portal data. "
                            matTooltipClass="primary"
                        >
                            <mat-label>Management *</mat-label>
                            <mat-select formControlName="management">
                                <!-- //TODO: api will handle populating collection types -->
                                <mat-option value="snapshot"
                                    >Snapshot</mat-option
                                >
                                <mat-option value="liveData"
                                    >Live Data</mat-option
                                >
                            </mat-select>
                            <mat-error
                                *ngIf="
                                    newCollectionForm
                                        .get('management')
                                        .hasError('required')
                                "
                            >
                                please select a Management
                            </mat-error>
                        </mat-form-field>
                        <mat-checkbox
                            value="publishToAggregators"
                            formControlName="aggregators"
                            id="checkbox"
                        >
                            Publish to Aggregators</mat-checkbox
                        >
                    </div>

                    <div
                        fxLayout="column"
                        fxFlex
                        fxLayoutAlign=""
                        fxLayoutGap="2rem"
                    >
                        <mat-form-field
                            matTooltip="A Url to the homepage of the collection or institution that hosts collection"
                            matTooltipClass="primary"
                        >
                            <mat-label>Homepage *</mat-label>
                            <input
                                matInput
                                type="url"
                                formControlName="homePage"
                            />
                            <mat-error
                                *ngIf="
                                    newCollectionForm
                                        .get('homePage')
                                        .hasError('required')
                                "
                            >
                                homepage is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field
                            matTooltip="A legal document giving official permission to do something with the resource. This field can be limited to a set of values by modifying the portal's central configuration file. For more details, see Darwin Core definition. "
                            matTooltipClass="primary"
                        >
                            <mat-label>License *</mat-label>
                            <input
                                matInput
                                type="url"
                                formControlName="rights"
                            />
                            <mat-error
                                *ngIf="
                                    newCollectionForm
                                        .get('rights')
                                        .hasError('required')
                                "
                            >
                                license is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <div
                            class="coords"
                            fxLayout="row"
                            fxLayoutGap="2rem"
                            fxLayoutAlign="end center"
                        >
                            <h3>Coordinates:</h3>
                            <mat-form-field fxFlex="18">
                                <mat-label>latitude *</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    step=".0001"
                                    formControlName="latitude"
                                />
                                <mat-error
                                    *ngIf="
                                        newCollectionForm
                                            .get('latitude')
                                            .hasError('required')
                                    "
                                >
                                    latitude is <strong> required </strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="
                                        newCollectionForm
                                            .get('latitude')
                                            .hasError('min') ||
                                        newCollectionForm
                                            .get('latitude')
                                            .hasError('max')
                                    "
                                >
                                    please enter valid latitude
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="18">
                                <mat-label>longitude *</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    step=".0001"
                                    formControlName="longitude"
                                />
                                <mat-error
                                    *ngIf="
                                        newCollectionForm
                                            .get('longitude')
                                            .hasError('required')
                                    "
                                >
                                    longitude is <strong> required </strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="
                                        newCollectionForm
                                            .get('longitude')
                                            .hasError('min') ||
                                        newCollectionForm
                                            .get('longitude')
                                            .hasError('max') ||
                                        newCollectionForm
                                            .get('longitude')
                                            .hasError('number')
                                    "
                                >
                                    please enter valid longitude
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div
                    class="form-subgroup"
                    fxLayout="row"
                    fxLayoutAlign="start end"
                    fxLayoutGap="2rem"
                    fxLayout.lt-md="column"
                    fxLayoutAlign.lt-md="start"
                    fxLayoutGap.lt-md="1rem"
                >
                    <mat-form-field fxFlex="fill" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea
                            matInput
                            formControlName="fullDescription"
                            #description
                        ></textarea>
                    </mat-form-field>
                </div>
            </mat-card>
            <div fxLayout="column" fxLayoutGap="1rem">
                <mat-card id="contact1" class="contact">
                    <mat-card-title class="title" fxLayoutAlign="start center">
                        <mat-icon color="primary" class="instIcon"
                            >account_circle</mat-icon
                        >
                        Contact Information
                    </mat-card-title>
                    <mat-card-content
                        fxLayout="column"
                        fxLayoutAlign="start"
                    >
                        <h2 mat-h2>Role: Admin</h2>
                        <mat-form-field class="medium-input">
                            <mat-label>Name *</mat-label>
                            <input
                                matInput
                                type="url"
                                formControlName="contact"
                            />
                            <mat-error
                                *ngIf="
                                    newCollectionForm
                                        .get('contact')
                                        .hasError('required')
                                "
                            >
                                contact is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="medium-input">
                            <mat-label>Email *</mat-label>
                            <input
                                matInput
                                type="email"
                                formControlName="email"
                            />
                            <mat-error
                                *ngIf="
                                    newCollectionForm
                                        .get('email')
                                        .hasError('required')
                                "
                            >
                                an email is <strong>required</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    newCollectionForm
                                        .get('email')
                                        .hasError('email')
                                "
                            >
                                email not valid
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <!-- <mat-card id="contact2" class="contact">
                    <mat-card-title class="title" fxLayoutAlign="start center">
                        <mat-icon color="primary" class="instIcon"
                            >account_circle</mat-icon
                        >
                        Additional Contact Information
                    </mat-card-title>
                    <mat-card-content fxLayout="column">
                        <mat-form-field class="medium-input">
                            <mat-label>Role</mat-label>
                            <mat-select formControlName="role2">
                                <mat-option value="admin"
                                    >Admin</mat-option
                                >
                                <mat-option value="editor"
                                    >Editor</mat-option
                                >
                                <mat-option value="rareSpeciesReader">
                                    Rare Species Reader
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="medium-input">
                            <mat-label>Name</mat-label>
                            <input
                                matInput
                                type="url"
                                formControlName="contact2"
                            />
                        </mat-form-field>
                        <mat-form-field class="medium-input">
                            <mat-label>Email</mat-label>
                            <input
                                matInput
                                type="email"
                                formControlName="email2"
                            />
                        </mat-form-field>
                    </mat-card-content>
                </mat-card> -->
            </div>
            <div fxLayoutAlign="start">
                <button
                    id="submit"
                    class="submit-button"
                    mat-raised-button
                    color="primary"
                    type="submit"
                    (click)="onSubmit()"
                    [disabled]="!newCollectionForm.valid"
                    style="font-size: large"
                >
                    Create New Collection
                </button>
            </div>
            <!-- <p><b>Form Status:</b> {{ newCollectionForm.status }}</p>
            <pre> <b>Form Values:</b> {{newCollectionForm.value | json}}</pre> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</form>
