<symbiota2-expansion-panel label='Label?'>
    <div *ngIf='children.length > 0'>
        {{'taxon.delete.has.children.message' | translate}}
        <ul *ngFor='let child of children'>
            <li>{{child.taxon.scientificName}}</li>
        </ul>
    </div>
    <button *ngIf='userCanEdit' style='float:right' mat-icon-button>
        <mat-icon color="primary" (click)="openDialog('Delete',taxonID)">edit</mat-icon>
    </button>
</symbiota2-expansion-panel>
