#window {
    width: 50vw;
    min-height: 75vh;

    @media only screen and (max-height: 600px) {
        width: 100vw;
        min-height: 100vh;
    }
}

h1 {
    margin: 0 1rem;
}

#editor {
    margin-top: 2rem;
}

#closeBtn {
    margin-left: auto;
}

//#editLogo {
//    position: absolute;
//    top: 0;
//    left: 0;
//    z-index: 1000;
//
//    display: flex;
//    justify-content: center;
//    align-items: center;
//
//    width: 100%;
//    height: 100%;
//    border-radius: 50%;
//
//    background: rgba(0, 0, 0, 0.75);
//    color: white;
//
//    opacity: 0;
//    transition: opacity 0.5s;
//
//    &:hover {
//        opacity: 1;
//    }
//}
