<symbiota2-expansion-panel label='{{taxon?.scientificName}}'>
    <button *ngIf='userCanEdit' style='float:right' mat-icon-button>
        <mat-icon color="primary" (click)="openDialog('Update',taxon)">edit</mat-icon>
    </button>
    <div><b>{{"taxon.taxon.editor.kingdomName" | translate}}</b>: {{taxon?.kingdomName}}</div>
    <div><b>{{"taxon.taxon.editor.rankName" | translate}}</b>: {{rankName}}</div>
    <div><b>{{"taxon.taxon.editor.rankID" | translate}}</b>: {{taxon?.rankID}}</div>
    <div><b>{{"taxon.taxon.editor.scientificName" | translate}}</b>: {{taxon?.scientificName}}</div>
    <div><b>{{"taxon.taxon.editor.unitName1.indicator" | translate}}</b>: {{taxon?.unitInd1 ? taxon.unitInd1 : "no"}}
        &nbsp; &nbsp; <b>{{"taxon.taxon.editor.unitName1" | translate}}</b>: {{taxon?.unitName1}}</div>
    <div><b>{{"taxon.taxon.editor.unitName2.indicator" | translate}}</b>: {{taxon?.unitInd2 ? taxon.unitInd2 : "no"}}
        &nbsp; &nbsp; <b>{{"taxon.taxon.editor.unitName2" | translate}}</b>: {{taxon?.unitName2}}</div>
    <div><b>{{"taxon.taxon.editor.unitName3.indicator" | translate}}</b>: {{taxon?.unitInd3 ? taxon.unitInd3 : "no"}}
        &nbsp; &nbsp; <b>{{"taxon.taxon.editor.unitName3" | translate}}</b>: {{taxon?.unitName3}}</div>
    <div><b>{{"taxon.taxon.editor.author" | translate}}</b>: {{taxon?.author}}</div>
    <div><b>{{"taxon.taxon.editor.phyloSortSequence" | translate}}</b>: {{taxon?.phyloSortSequence}}</div>
    <div><b>{{"taxon.taxon.editor.status" | translate}}</b>: {{taxon?.status}}</div>
    <div><b>{{"taxon.taxon.editor.source" | translate}}</b>: {{taxon?.source}}</div>
    <div><b>{{"taxon.taxon.editor.notes" | translate}}</b>: {{taxon?.notes}}</div>
    <div><b>{{"taxon.taxon.editor.hybrid" | translate}}</b>: {{taxon?.hybrid}}</div>
    <div *ngIf='taxon?.securityStatus'><b>{{"taxon.taxon.editor.securityStatus" | translate}}</b>: {{"taxon.taxon.editor.locality.hidden" | translate}}</div>
    <div *ngIf='!taxon?.securityStatus'><b>{{"taxon.taxon.editor.securityStatus" | translate}}</b>: {{"taxon.taxon.editor.locality.public" | translate}}</div>
</symbiota2-expansion-panel>
