<div id='main'>
    <img src='http://localhost:8080/api/v1/image/imglib/{{imageFile}}'/>
    <img width="200px" src="http://127.0.0.1:9000/symbiota2/image/37e811a24e43225fbc5f77372bf78af8"/>
<!--
<iframe style="position: absolute; width: 100%; height: 100%; border: none" src="http://localhost:5601/app/dashboards#/view/fc340bf0-82df-11ec-b9ae-27af917973e5?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))"></iframe>


    -->

</div>
